:root {
    --font-size: 12px;
    --font-family:  'Kumbh Sans', sans-serif;
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --text-very-grayish-blue: hsl(237, 12%, 33%);
    --text-grayish-blue: hsl(240, 6%, 50%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --light-blue: hsl(240, 5%, 91%);
}
 
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
}

.card {
    width: 85%;
    margin-top: 5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.image-mobile {
    width: 65%;
    margin-top: -8rem;
}

.shadow-mobile {
    width: 65%;
    margin-top: -6.5rem;
}

.image-box, .image-desktop, .shadow-desktop {
    display: none;
}

.faq {
    text-align: start;
    padding: 0 2rem 2rem;
}

.title {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: var(--text-dark-blue);
}

hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    color: var(--light-blue);
    background-color: var(--light-blue);
    margin-block-start: 1.3rem;
    margin-block-end: 1.3rem;
}

summary {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--text-very-grayish-blue);
}
    summary:hover {
        color: var(--text-soft-red);
    }

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url(images/icon-arrow-down.svg);
}

details[open] summary:after {
    content: url(images/icon-arrow-down.svg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

details[open] > summary {
    color: var(--text-dark-blue);
    font-weight: 700;
    font-size: 1.1rem;
}

details p {
    color: var(--text-grayish-blue);
    width: 90%;
}


/* Mediaqueries */

@media (min-width: 576px) { 

    .card {
        width: 80%;
    }

    .image-mobile {
        width: 60%;
        margin-top: -11rem;
    }
    
    .shadow-mobile {
        width: 60%;
        margin-top: -8.5rem;
    }

    summary, details[open] > summary {
        font-size: 1.3rem;
    }

    details p {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {

    .card {
        width: 75%;
    }

    .image-mobile {
        width: 50%;
    }

    .shadow-mobile {
        width: 50%;
    }

    summary, details[open] > summary {
        font-size: 1.5rem;
    }

    details p {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .card {
        width: 90%;
        padding: 3rem;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .hero {
        width: 50%;
    }

    .image-mobile, .shadow-mobile {
        display: none;
    }

    .image-desktop {
        display: block;
        width: 100%;
        margin-left: -7rem;
        margin-top: -2rem;
    }

    .image-box {
        position: absolute;
        display: block;
        margin-left: -12%;
        margin-top: -21%;
    }

    .shadow-desktop {
        position: absolute;
        display: block;
        width: 70%;
        margin-top: -55%;
        margin-left: -32%;
        z-index: 1;
    }

    .faq {
        width: 50%;
    }

    .title {
        text-align: start;
    }

    summary, details[open] > summary {
        font-size: 1.3rem;
    }

    details p {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 60%;
    }

    .image-desktop {
        width: 130%;
        margin-left: -40%;
    }

    .shadow-desktop {
        width: 70%;
        margin-top: -53%;
        margin-left: -45%;
    }

    .image-box {
        margin-top: -16%;
        margin-left: -12%;
    }
}

@media only screen and (min-width: 1400px) {
    .card {
        width: 50%;
    }
    .image-desktop {
        width: 110%;
        margin-left: -28%;
    }

    .shadow-desktop {
        width: 60%;
        margin-top: -45%;
        margin-left: -41%;
    }

    .image-box {
        width: 12%;
        margin-top: -12.5%;
        margin-left: -8%;
    }
}